*{
    background-color:pink;
}
h1{
    text-align:center;
    text-transform:capitalize;
    font-size:50px;
    text-decoration:dashed;
}
h3{
    text-align:left;
    font-family:arial;


}